<meta name="theme-color" content="{{ $.Site.Params.themeColor }}">
<meta name="msapplication-TileColor" content="{{ $.Site.Params.themeColor }}">
<link rel="icon" href="{{ "favicon.ico" | absURL }}" sizes="any">
{{ if os.FileExists "static/favicon.svg" -}}
  <link rel="icon" type="image/svg+xml" href="{{ "favicon.svg" | absURL }}">
{{ end -}}
<link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon.png" | absURL }}">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff7d0b">
