---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
---

<StarlightPage frontmatter={{ title: 'Code of Conduct', tableOfContents: false }} hasSidebar={false}>
  <ul>
    <li>We are committed to providing a friendly, safe and welcoming environment for all, regardless of level of experience, gender identity and expression, sexual orientation, disability, personal appearance, body size, race, ethnicity, age, religion, nationality, or other similar characteristic.

    <li>Please avoid using overtly sexual aliases or other nicknames that might detract from a friendly, safe and welcoming environment for all.

    <li>Please be kind and courteous. There’s no need to be mean or rude.

    <li>Respect that people have differences of opinion and that every design or implementation choice carries a trade-off and numerous costs. There is seldom a right answer.

    <li>Please keep unstructured critique to a minimum. If you have solid ideas you want to experiment with, make a work and see how it works.

    <li>We will exclude you from interaction if you insult, demean or harass anyone. That is not welcome behavior. We interpret the term “harassment” as including the definition in the <a href="https://github.com/stumpsyn/policies/blob/master/citizen_code_of_conduct.md">Citizen Code of Conduct</a>; if you have any lack of clarity about what might be included in that concept, please read their definition. In particular, we don’t tolerate behavior that excludes people in socially marginalized groups.

    <li>Private harassment is also unacceptable. No matter who you are, if you feel you have been or are being harassed or made uncomfortable by a community member, please <a href="mailto:ludwig.stecher@gmx.de">contact me</a> immediately. Whether you’re a regular contributor or a newcomer, we care about making this community a safe place for you and we’ve got your back.

    <li>Likewise any spamming, trolling, flaming, baiting or other attention-stealing behavior is not welcome.
  </ul>

  <h2>Moderation</h2>

  <p>
    These are the policies for upholding our community’s standards of conduct. If you feel that a thread needs moderation, please <a href="mailto:ludwig.stecher@gmx.de">contact me</a>.
  </p>

  <ol>
    <li>Remarks that violate the Rust standards of conduct, including hateful, hurtful, oppressive, or exclusionary remarks, are not allowed. (Cursing is allowed, but never targeting another user, and never in a hateful manner.)

    <li>Remarks that I find inappropriate, whether listed in the code of conduct or not, are also not allowed.

    <li>I will first respond to such remarks with a warning.

    <li>If the warning is unheeded, the user will be “kicked,” i.e., kicked out of the communication channel to cool off.

    <li>If the user comes back and continues to make trouble, they will be banned, i.e., indefinitely excluded.

    <li>I may choose at my discretion to un-ban the user if it was a first offense and they offer the offended party a genuine apology.

    <li>If I ban someone and you think it was unjustified, please take it up with me, in private. Complaints about bans in-channel are not allowed.
  </ol>

  <p>
    Kindly,<br />
    Ludwig Stecher
  </p>
  <p>
    <i>Adapted from the <a href="https://www.rust-lang.org/policies/code-of-conduct">Rust Code of Conduct</a></i>
  </p>
</StarlightPage>

<style>
  p, li {
    font-size: 1.25rem;
    margin: 1rem 0;
  }
</style>
