---
---

<div class="footer">
  <div>
    Powered by <a href="https://starlight.astro.build">Starlight</a>
  </div>
  <div style="flex-grow:1"></div>
  <div>
    <a href="https://github.com/pomsky-lang/pomsky">GitHub</a>
  </div>
  <div>
    <a href="/contact">Contact</a>
  </div>
  <div>
    <a href="/code-of-conduct">Code of Conduct</a>
  </div>
</div>

<style>
  .footer {
    display: flex;
    margin: 5rem 0 0 0;
    border-top: 1px solid #7775;
    padding: 2rem 0 0 0;
    gap: 1rem;
  }

  @media (max-width: 600px) {
    .footer {
      flex-direction: column;
    }
  }
</style>