<div class="row advantages justify-content-center">
  <div>
    <img src="/properties/readable.svg" class="advantage-img" alt="" />
    <h2 class="h4">Saner Syntax</h2>
    <p>Pomsky is designed to be easy to write and understand.</p>
  </div>
  <div>
    <img src="/properties/fast.svg" class="advantage-img" alt="" />
    <h2 class="h4">Instant Feedback</h2>
    <p>Syntax highlighting, autocompletion, and diagnostics in VSCode.</p>
  </div>
  <div>
    <img src="/properties/testing.svg" class="advantage-img" alt="" />
    <h2 class="h4">Built-in Tests</h2>
    <p>Automated tests catch mistakes, and double as documentation.</p>
  </div>
  <div>
    <img src="/properties/advanced-features.svg" class="advantage-img" alt="" />
    <h2 class="h4">Feature Rich</h2>
    <p>Pomsky has powerful features you won't find anywhere else.</p>
  </div>
  <div>
    <img src="/properties/compatible.svg" class="advantage-img" alt="" />
    <h2 class="h4">Great Compatibility</h2>
    <p>Pomsky is transpiled to normal RegExp's, so you can use it anywhere.</p>
  </div>
  <div>
    <img src="/properties/optimized.svg" class="advantage-img" alt="" />
    <h2 class="h4">Optimized Output</h2>
    <p>You can be confident that your expressions perform well.</p>
  </div>
</div>