<div class="row advantages-row justify-content-center">
  <div class="col-lg-5">
    <img src="/properties/compatible.svg" class="advantage-img" alt="" />
    <h2 class="h4">Compatible</h2>
    <p>Pomsky is transpiled to normal RegExp's, so you can use it anywhere</p>
  </div>
  <div class="col-lg-5">
    <img src="/properties/readable.svg" class="advantage-img" alt="" />
    <h2 class="h4">Readable</h2>
    <p>
      Pomsky is whitespace insensitive and supports comments. The syntax is simple and intuitive
    </p>
  </div>
  <div class="col-lg-5">
    <img src="/properties/unicode-aware.svg" class="advantage-img" alt="" />
    <h2 class="h4">Unicode Support</h2>
    <p>Pomsky polyfills Unicode support for RegExp engines that are stuck in the last century</p>
  </div>
</div>
<div class="row advantages-row justify-content-center">
  <div class="col-lg-5">
    <img src="/properties/familiar.svg" class="advantage-img" alt="" />
    <h2 class="h4">Familiar</h2>
    <p>If you know RegExp's, the syntax will immediately make sense</p>
  </div>
  <div class="col-lg-5">
    <img src="/properties/advanced-features.svg" class="advantage-img" alt="" />
    <h2 class="h4">Advanced Features</h2>
    <p>
      Pomsky adds unique features such as <em>number ranges</em> and <em>variables</em> for even
      more expressiveness
    </p>
  </div>
  <div class="col-lg-5">
    <img src="/properties/errors.svg" class="advantage-img" alt="" />
    <h2 class="h4">Good Error Messages</h2>
    <p>
      We value your time. Error messages are informative and show the erroneous parts of the code
    </p>
  </div>
</div>
