<h2 class="example-heading">Examples</h2>

<div id="examples" class="hidden">
  <div data-title="Basic" data-result="Hello +(?:world|pomsky)">
    'Hello' ' '+ ('world' | 'pomsky')
  </div>
  <div data-title="Boundaries" data-result="^ +| +$|\b +\b">Start ' '+ | ' '+ End | % ' '+ %</div>
  <div data-title="Repetition" data-result="(?:hello){1,5}(?:world)*?">
    'hello'{1,5} 'world'* lazy
  </div>
  <div data-title="Character classes" data-result="[acd[\]p-s][^\^]">['acd[]' 'p'-'s'] !['^']</div>
  <div data-title="Unicode" data-result="[\s\x15\uFEFF\p{Greek}]">[s U+15 U+FEFF Greek]</div>
  <div data-title="Capturing groups" data-result="(\s)(?<named>.)\2">
    :([s]) :named([.]) ::named
  </div>
  <div data-title="Lookaround" data-result="(?<=foo|bar)(?!foo|bar)">
    (<< 'foo' | 'bar') (!>> 'foo' | 'bar')
  </div>
  <div data-title="Ranges" data-result="0|1[0-9]{0,2}|2(?:[0-4][0-9]?|5[0-5]?|[6-9])?|[3-9][0-9]?">
    range '0'-'255'
  </div>
  <div data-title="Variables" data-result="\p{Nd}+\+\p{Nd}+">let x = [digit]+; x '+' x</div>
</div>

<script type="module">
  const examples = document.getElementById('examples')
  const children = [...examples.children]

  let active = 0

  examples.innerHTML = `
  <div class="example-tabs">
    ${children
      .map((child, i) => {
        const title = child.getAttribute('data-title')
        return `<button class="example-tab" data-i="${i}">${title}</button>`
      })
      .join('')}
  </div>
  <div class="example-body">
    <pre class="example-pomsky"><code class="language-pomsky">${
      children[0].textContent
    }</code></pre>
    <pre class="example-regexp"><code class="language-regexp"></code></pre>
  </div>`

  const tabs = [...document.querySelectorAll('.example-tabs > .example-tab')]
  tabs[active].classList.add('active')

  examples.classList.remove('hidden')

  const pomskyCode = document.querySelector('.example-pomsky > code')
  const regexpCode = document.querySelector('.example-regexp > code')

  function selectTab(n) {
    if (n >= children.length) n -= children.length

    tabs[active].classList.remove('active')
    active = n
    tabs[active].classList.add('active')

    pomskyCode.textContent = children[n].textContent.trim()
    regexpCode.textContent = children[n].getAttribute('data-result')

    if ('hljs' in window) {
      hljs.highlightElement(pomskyCode)
      hljs.highlightElement(regexpCode)
    }
  }

  selectTab(0)

  for (const tab of tabs) {
    tab.addEventListener('click', () => {
      selectTab(+tab.getAttribute('data-i'))
    })
  }
</script>
