{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <img src="/favicon.svg" alt="pomsky logo" class="front-logo" />
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.description | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/get-started/introduction/" role="button">
        Get Started
      </a>
      <a class="btn btn-lg px-4 mb-2" href="https://playground.pomsky-lang.org" role="button">
        Playground
      </a>
      <p class="meta"><a href="https://github.com/pomsky-lang/pomsky">GitHub v0.9</a></p>
    </div>
  </div>
</section>
{{ end }} {{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">{{ partial "advantages.html" . }} {{ partial "examples.html" . }}</div>
</section>
{{ end }} {{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">{{- .Content -}}</div>
  </div>
</section>
{{ end }}
