.advantages {
  gap: 1.25rem;
  margin: 0 0 2rem 0;

  p {
    margin-bottom: 1.25rem;
  }

  > div {
    flex: 1 1 30%;
    border: 2px solid #77777722;
    border-radius: 1rem;

    @media (max-width: 1400px) {
      flex: 1 1 45%;
    }

    @media (max-width: 992px) {
      flex: 1 1 90%;
    }

    > :not(img) {
      margin-left: 65px;
    }

    img {
      width: 48px;
      height: auto;
      float: left;
      margin-right: 17px;
    }
  }

  h2,
  img {
    margin-top: 1.25rem;
  }

  @media (min-width: 992px) {
    margin-bottom: 3rem;

    > div {
      > :not(img) {
        margin-left: 0;
      }

      img {
        width: 72px;
        float: none;
        margin-right: 0;
        margin-top: 1.25rem;
      }
    }

    h2 {
      margin-top: 1.25rem;
    }
  }
}

.advantages-row + h2 {
  margin-top: 4rem;
}
