/** Custom styles */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&family=Work+Sans:ital,wght@0,400;0,500;0,600;1,400&display=swap');

@mixin light-and-dark {
  @content;

  [data-dark-mode] {
    @content;
  }
}

:root {
  --bs-font-sans-serif: 'Work Sans', -apple-system, blinkmacsystemfont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', 'Arial', 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --bs-font-monospace: 'JetBrains Mono', sfmono-regular, menlo, monaco, consolas, 'Liberation Mono',
    'Courier New', monospace;
  --bs-body-font-family: 'Work Sans', -apple-system, blinkmacsystemfont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', 'Arial', 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

body .alert-primary {
  background-color: #ff5500;
  padding-bottom: 0.9rem;
}

[data-dark-mode] body .alert-primary {
  background-color: #ff5500;
  color: white;

  a {
    color: white;
  }
}

.form-control,
.comment-form input[type='text'],
.comment-form input[type='email'],
.comment-form input[type='url'],
.comment-form textarea,
.search-form .search-field {
  &.is-search:focus {
    border-color: #ff5500;
  }
}

a {
  color: #005986;

  &:hover,
  &:focus {
    color: #006ca3;
  }
}

pre,
code,
kbd,
samp {
  font-size: 0.88rem;
  font-family: var(--bs-font-monospace);
  font-variant-ligatures: none;

  @media (min-width: 768px) {
    font-size: 0.95rem;
  }
}

.alert {
  font-family: var(--bs-font-sans-serif);
  font-size: 0.95rem;
}

.small-table table {
  td {
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;

    code {
      padding-top: 0.15rem;
      padding-bottom: 0.15rem;
    }
  }
}

.table > :not(:first-child),
table > :not(:first-child) {
  border-top-color: #888;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1,
.navbar-brand {
  font-weight: 600;
}

h2,
.h2 {
  font-size: 2rem;
  margin-top: 3.5rem;
}

h3,
.h3 {
  font-size: 1.65rem;
}

h4,
.h4 {
  font-size: 1.45rem;
}

h5,
.h5 {
  font-size: 1.3rem;
}

.front-logo {
  margin: 1.25rem 0 2.5rem;
  width: 192px;
  filter: drop-shadow(0 20px 15px #7774);
}

#toc a.active {
  color: #db4900;

  [data-dark-mode] & {
    color: #f4b73d;
  }
}

main > nav {
  margin-bottom: 1rem;

  h3 {
    color: #db4900;

    [data-dark-mode] & {
      color: #f4b73d;
    }
  }

  #onThisPage > .card-body {
    border: none;
    padding: 0;
  }

  #TableOfContents {
    padding-left: 1rem;
    position: relative;
    margin: 0;

    ul {
      margin: -0.25rem 0 0.25rem 0;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      display: block;
      border-radius: 3px / 5px;
      width: 3px;
      height: 100%;
      background-color: #ff5500;

      [data-dark-mode] & {
        background-color: #f4b73d;
      }
    }
  }
}

.header-bar {
  border: none;
  height: 4px;
  background-color: #ff5500;
}

body .btn {
  color: black;

  [data-dark-mode] & {
    color: #ddd;
  }
}

:root {
  --main-btn-color: #ff5500;
  --main-btn-text: white;
}

[data-dark-mode] {
  --main-btn-color: #f4b73d;
  --main-btn-text: black;
}

body .page-links li:not(:first-child) {
  border: none;
}

.section .btn {
  border: 2px solid var(--main-btn-color);
  color: var(--main-btn-color) !important;

  &.btn-primary {
    &,
    &:visited {
      background-color: var(--main-btn-color);
      border-color: var(--main-btn-color);
      color: var(--main-btn-text) !important;
    }

    &:hover,
    &:focus {
      background-color: var(--main-btn-color);
      border-color: var(--main-btn-color);
    }
  }
}

body .btn-toggle-nav a.active,
body .offcanvas .nav-link.active,
body .offcanvas .banner .nav a.active,
.banner .nav body .offcanvas a.active {
  color: #db4900;
}

[data-dark-mode] body {
  .btn-toggle-nav a.active,
  .offcanvas .nav-link.active,
  .offcanvas .banner .nav a.active,
  .banner .nav .offcanvas a.active {
    color: #f4b73d;
  }

  .btn-outline-primary:focus {
    color: #212529;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
td,
th,
li {
  > code.hljs {
    display: inline;
    padding: 0.25rem 0.5rem !important;
  }
}

.example-heading {
  margin-top: 0;
}
