#examples {
  margin: 2rem 0;

  &.hidden * {
    display: none;
  }

  .example-tabs {
    display: flex;
    margin-bottom: 1rem;
    flex-wrap: wrap;

    button.example-tab {
      background: transparent;
      border: none;
      padding: 0.45rem 0.75rem;
      font-weight: 500 !important;
      color: inherit;
      font: inherit;
      font-size: 1.08rem;
      transition: border-bottom-color 0.5s;
      text-align: left;

      &.active {
        font-weight: 600 !important;
        color: #ffbb63;
      }
    }

    @media (min-width: 768px) {
      font-size: inherit;

      button.example-tab {
        padding: 0.35rem 0.625rem;
      }
    }

    @media (min-width: 1200px) {
      display: grid;
      grid-template-columns: repeat(auto-fill, 200px);
    }
  }

  @media (min-width: 1200px) {
    display: flex;
    align-items: start;

    .example-tabs {
      width: 420px;

      button.example-tab {
        padding: 0.4rem 0.25rem;
      }
    }

    .example-body {
      flex-grow: 1;
    }
  }

  .example-body {
    display: flex;
    flex-direction: column;
    gap: 0.3rem 0;
    align-items: stretch;
    width: auto;
    border-radius: 0.4rem;
    overflow: hidden;

    pre {
      margin: 0;
      border-radius: 0;
      white-space: pre-wrap;

      code {
        border-radius: 0;
        padding: 2.3rem 1.5rem !important;
        font-size: 1.15rem;
        min-height: 100%;
      }

      .btn-copy {
        display: none;
      }

      code::after {
        content: 'pomsky';
        display: block;
        position: absolute;
        bottom: 0;
        background-color: #eae7e1;
        font: 90% var(--bs-font-sans-serif);
        padding: 0.5rem 0.8rem;
        color: #7c7c7c;
        transition: opacity 0.3s;

        [data-dark-mode] & {
          background-color: #161616;
          color: #bbb;
        }
      }

      &:first-child code::after {
        content: 'pomsky';
        right: 0;
        border-top-left-radius: 0.4rem;
      }

      &:last-child code::after {
        content: 'regexp';
        right: 0;
        border-top-left-radius: 0.4rem;
      }
    }
  }
}
