.hljs .hljs-variable,
.hljs .hljs-template-variable,
.hljs .hljs-symbol,
.hljs .hljs-bullet,
.hljs .hljs-addition,
.hljs .hljs-attribute,
.hljs .hljs-link {
  color: #d32e9d;
}

.hljs .hljs-punctuation {
  color: #353535;
  font-weight: normal;
}

.hljs .hljs-comment,
.hljs .hljs-quote,
.hljs .hljs-deletion {
  color: #888;
}

.hljs .hljs-keyword,
.hljs .hljs-selector-tag,
.hljs .hljs-section,
.hljs .hljs-name,
.hljs .hljs-type,
.hljs .hljs-strong {
  font-weight: 600;
}

.hljs .hljs-emphasis {
  font-style: italic;
}

[data-dark-mode] body .hljs {
  background-color: darken($body-bg-dark, 2.5%);
  color: #dee2e6;
}

[data-dark-mode] body .hljs .hljs-string,
[data-dark-mode] body .hljs .hljs-variable,
[data-dark-mode] body .hljs .hljs-template-variable,
[data-dark-mode] body .hljs .hljs-symbol,
[data-dark-mode] body .hljs .hljs-bullet,
[data-dark-mode] body .hljs .hljs-addition,
[data-dark-mode] body .hljs .hljs-attribute,
[data-dark-mode] body .hljs .hljs-link {
  color: #8ed6fb;
}

[data-dark-mode] body .hljs .hljs-punctuation {
  color: #c4c8cc;
}

.hljs .hljs-keyword {
  color: #b13001;
}

.hljs .hljs-string {
  color: green;
}

.hljs .hljs-title,
.hljs .hljs-built_in,
.hljs .hljs-section {
  color: #004d90;
}

.hljs .hljs-title {
  color: #004d90;
}

.hljs .hljs-number,
.hljs .hljs-meta,
.hljs .hljs-builtin-name,
.hljs .hljs-literal,
.hljs .hljs-type,
.hljs .hljs-params {
  color: #99008c;
  font-weight: normal;
}

.hljs .hljs-literal {
  color: #99008c;
  font-weight: normal;
}

[data-dark-mode] body .hljs .hljs-keyword {
  color: #f07e54;
}

[data-dark-mode] body .hljs .hljs-string {
  color: #b8cc52;
}

[data-dark-mode] body .hljs .hljs-title,
[data-dark-mode] body .hljs .hljs-built_in,
[data-dark-mode] body .hljs .hljs-section {
  color: #ffbb63;
}

[data-dark-mode] body .hljs .hljs-title {
  color: #ffbb63;
}

[data-dark-mode] body .hljs .hljs-number,
[data-dark-mode] body .hljs .hljs-meta,
[data-dark-mode] body .hljs .hljs-builtin-name,
[data-dark-mode] body .hljs .hljs-literal,
[data-dark-mode] body .hljs .hljs-literal,
[data-dark-mode] body .hljs .hljs-type,
[data-dark-mode] body .hljs .hljs-params {
  color: #ffa6f6;
}

[data-dark-mode] body .hljs .hljs-literal {
  color: #ffa6f6;
}

body .hljs .hljs-diff-add {
  background-color: #b5ffae;
}

body .hljs .hljs-diff-del {
  background-color: #ffbebe;
}

body .hljs .hljs-illegal {
  color: #a80b0b;
  text-decoration: underline;
  text-decoration-style: wavy;
}

[data-dark-mode] body .hljs .hljs-diff-add {
  background-color: #064d00;
}

[data-dark-mode] body .hljs .hljs-diff-del {
  background-color: #4f0000;
}

[data-dark-mode] body .hljs .hljs-illegal {
  color: #ff7272;
}
