body .hljs {
  .hljs-variable,
  .hljs-template-variable,
  .hljs-symbol,
  .hljs-bullet,
  .hljs-addition,
  .hljs-attribute,
  .hljs-link {
    color: #d32e9d;
  }

  .hljs-punctuation {
    color: #353535;
    font-weight: normal;
  }

  .hljs-comment,
  .hljs-quote,
  .hljs-deletion {
    color: #888;
  }

  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-section,
  .hljs-name,
  .hljs-strong {
    font-weight: 600;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-keyword {
    color: #b13001;
  }

  .hljs-string {
    color: green;
  }

  .hljs-title,
  .hljs-built_in,
  .hljs-section {
    color: #004d90;
  }

  .hljs-number,
  .hljs-meta,
  .hljs-builtin-name,
  .hljs-literal,
  .hljs-type,
  .hljs-params {
    color: #99008c;
    font-weight: normal;
  }

  .hljs-diff-add {
    background-color: #b5ffae;
  }

  .hljs-diff-del {
    background-color: #ffbebe;
  }

  .hljs-illegal {
    color: #a80b0b;
    text-decoration: underline;
    text-decoration-style: wavy;
  }
}

[data-dark-mode] body .hljs {
  background-color: darken($body-bg-dark, 2.5%);
  color: #dee2e6;

  .hljs-string,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-symbol,
  .hljs-bullet,
  .hljs-addition,
  .hljs-attribute,
  .hljs-link {
    color: #8ed6fb;
  }

  .hljs-punctuation {
    color: #c4c8cc;
  }

  .hljs-keyword {
    color: #f07e54;
  }

  .hljs-string {
    color: #b8cc52;
  }

  .hljs-title,
  .hljs-built_in,
  .hljs-section {
    color: #ffbb63;
  }

  .hljs-number,
  .hljs-meta,
  .hljs-builtin-name,
  .hljs-literal,
  .hljs-literal,
  .hljs-type,
  .hljs-params {
    color: #ffa6f6;
  }

  .hljs-literal {
    color: #ffa6f6;
  }

  .hljs-diff-add {
    background-color: #064d00;
  }

  .hljs-diff-del {
    background-color: #4f0000;
  }

  .hljs-illegal {
    color: #ff7272;
  }
}
